@import url("/0327-랜딩페이지/assets/css/reset.css");
@import url("normalize.css");
@import url("common.css");


.inner {
    width: 1368px;
    margin: 0 auto;
}

.section1 {
    display: flex;
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    height: 937px;
}


.bar-inner {
    width: 335px;
    height: 1600px;
    background: linear-gradient(90deg, rgba(30, 30, 30, 1) 0%, rgba(7, 44, 71, 1) 100%);
    position: absolute;
    transform: rotate(-140deg);
    top: -355px;
    left: 65%;

}

.section1 .text {
    margin-top: 212px;
}

.light-blue {
    color: #007AFF;
}


.section1 h2 {
    font-size: 67px;
    font-weight: 700;
    letter-spacing: -2px;
}


.section1 p {
    font-size: 42px;
    font-weight: 700;
    letter-spacing: -4px;
    line-height: 110%;

}

.section1 .btn {
    width: 324px;
    height: 66px;
    background-color: #072337;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50px;
}

.section1 .btn p {
    font-size: 30px;
    color: #fff;
}

.img .car {
    position: relative;
    transform: translate(0, 253px);
    width: 861px;

}

.d-flex {
    display: flex;
}

/* section02 */

.section02 {
    background-color: #014692;
}



/* media(미디어쿼리) */

@media (max-width : 1280px) {
    .inner {
        width: 1140px;
    }


    .section1 .bar {
        position: absolute;
        transform: translate(472px, 0);
        width: 800px;
    }


    .section1 h2 {
        font-size: 67px;
        font-weight: 700;
        letter-spacing: -4px;
    }

    .section1 p {
        font-size: 39px;
        font-weight: 700;
        letter-spacing: -4px;
    }

    .img .car {
        position: relative;
        transform: translate(-47px, 339px);
        width: 600px;

    }

}

@media (max-width : 1024px) {
    .inner {
        width: 100%;
    }



    .section1 h2 {
        font-size: 62px;
        font-weight: 700;
        letter-spacing: -4px;
    }

    .section1 p {
        font-size: 35px;
        font-weight: 700;
        letter-spacing: -3px;
    }


    .section1 .btn p {
        font-size: 25px;
        color: #fff;
    }


    .img .car {
        position: relative;
        transform: translate(-47px, 339px);
        width: 600px;

    }

}

@media (max-width : 1024px) {
    .inner {
        width: 100%;
    }



    .section1 h2 {
        font-size: 62px;
        font-weight: 700;
        letter-spacing: -4px;
    }

    .section1 p {
        font-size: 35px;
        font-weight: 700;
        letter-spacing: -3px;
    }


    .section1 .btn p {
        font-size: 25px;
        color: #fff;
    }


    .img .car {
        position: relative;
        transform: translate(-47px, 339px);
        width: 600px;

    }

}